<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mshcc.cloud.jwtuaa.mapper.OauthClientDetailsMapper">
  <resultMap id="BaseResultMap" type="com.mshcc.cloud.jwtuaa.model.OauthClientDetails">
    <!--@mbg.generated-->
    <!--@Table oauth_client_details-->
    <id column="id" property="id" />
    <result column="client_id" property="clientId" />
    <result column="resource_ids" property="resourceIds" />
    <result column="client_secret" property="clientSecret" />
    <result column="scope" property="scope" />
    <result column="authorized_grant_types" property="authorizedGrantTypes" />
    <result column="web_server_redirect_uri" property="webServerRedirectUri" />
    <result column="authorities" property="authorities" />
    <result column="access_token_validity" property="accessTokenValidity" />
    <result column="refresh_token_validity" property="refreshTokenValidity" />
    <result column="additional_information" property="additionalInformation" />
    <result column="create_time" property="createTime" />
    <result column="archived" property="archived" />
    <result column="trusted" property="trusted" />
    <result column="autoapprove" property="autoapprove" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, client_id, resource_ids, client_secret, `scope`, authorized_grant_types, web_server_redirect_uri, 
    authorities, access_token_validity, refresh_token_validity, additional_information, 
    create_time, archived, `trusted`, autoapprove
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from oauth_client_details
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from oauth_client_details
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mshcc.cloud.jwtuaa.model.OauthClientDetails" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oauth_client_details (client_id, resource_ids, client_secret, `scope`, authorized_grant_types, 
      web_server_redirect_uri, authorities, access_token_validity, refresh_token_validity, 
      additional_information, create_time, archived, `trusted`, autoapprove
      )
    values (#{clientId}, #{resourceIds}, #{clientSecret}, #{scope}, #{authorizedGrantTypes}, 
      #{webServerRedirectUri}, #{authorities}, #{accessTokenValidity}, #{refreshTokenValidity}, 
      #{additionalInformation}, #{createTime}, #{archived}, #{trusted}, #{autoapprove}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mshcc.cloud.jwtuaa.model.OauthClientDetails" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oauth_client_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        client_id,
      </if>
      <if test="resourceIds != null">
        resource_ids,
      </if>
      <if test="clientSecret != null">
        client_secret,
      </if>
      <if test="scope != null">
        `scope`,
      </if>
      <if test="authorizedGrantTypes != null">
        authorized_grant_types,
      </if>
      <if test="webServerRedirectUri != null">
        web_server_redirect_uri,
      </if>
      <if test="authorities != null">
        authorities,
      </if>
      <if test="accessTokenValidity != null">
        access_token_validity,
      </if>
      <if test="refreshTokenValidity != null">
        refresh_token_validity,
      </if>
      <if test="additionalInformation != null">
        additional_information,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="archived != null">
        archived,
      </if>
      <if test="trusted != null">
        `trusted`,
      </if>
      <if test="autoapprove != null">
        autoapprove,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        #{clientId},
      </if>
      <if test="resourceIds != null">
        #{resourceIds},
      </if>
      <if test="clientSecret != null">
        #{clientSecret},
      </if>
      <if test="scope != null">
        #{scope},
      </if>
      <if test="authorizedGrantTypes != null">
        #{authorizedGrantTypes},
      </if>
      <if test="webServerRedirectUri != null">
        #{webServerRedirectUri},
      </if>
      <if test="authorities != null">
        #{authorities},
      </if>
      <if test="accessTokenValidity != null">
        #{accessTokenValidity},
      </if>
      <if test="refreshTokenValidity != null">
        #{refreshTokenValidity},
      </if>
      <if test="additionalInformation != null">
        #{additionalInformation},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="archived != null">
        #{archived},
      </if>
      <if test="trusted != null">
        #{trusted},
      </if>
      <if test="autoapprove != null">
        #{autoapprove},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mshcc.cloud.jwtuaa.model.OauthClientDetails">
    <!--@mbg.generated-->
    update oauth_client_details
    <set>
      <if test="clientId != null">
        client_id = #{clientId},
      </if>
      <if test="resourceIds != null">
        resource_ids = #{resourceIds},
      </if>
      <if test="clientSecret != null">
        client_secret = #{clientSecret},
      </if>
      <if test="scope != null">
        `scope` = #{scope},
      </if>
      <if test="authorizedGrantTypes != null">
        authorized_grant_types = #{authorizedGrantTypes},
      </if>
      <if test="webServerRedirectUri != null">
        web_server_redirect_uri = #{webServerRedirectUri},
      </if>
      <if test="authorities != null">
        authorities = #{authorities},
      </if>
      <if test="accessTokenValidity != null">
        access_token_validity = #{accessTokenValidity},
      </if>
      <if test="refreshTokenValidity != null">
        refresh_token_validity = #{refreshTokenValidity},
      </if>
      <if test="additionalInformation != null">
        additional_information = #{additionalInformation},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="archived != null">
        archived = #{archived},
      </if>
      <if test="trusted != null">
        `trusted` = #{trusted},
      </if>
      <if test="autoapprove != null">
        autoapprove = #{autoapprove},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mshcc.cloud.jwtuaa.model.OauthClientDetails">
    <!--@mbg.generated-->
    update oauth_client_details
    set client_id = #{clientId},
      resource_ids = #{resourceIds},
      client_secret = #{clientSecret},
      `scope` = #{scope},
      authorized_grant_types = #{authorizedGrantTypes},
      web_server_redirect_uri = #{webServerRedirectUri},
      authorities = #{authorities},
      access_token_validity = #{accessTokenValidity},
      refresh_token_validity = #{refreshTokenValidity},
      additional_information = #{additionalInformation},
      create_time = #{createTime},
      archived = #{archived},
      `trusted` = #{trusted},
      autoapprove = #{autoapprove}
    where id = #{id}
  </update>
</mapper>