<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mshcc.cloud.jwtuaa.mapper.TRoleMapper">
  <resultMap id="BaseResultMap" type="com.mshcc.cloud.jwtuaa.model.TRole">
    <!--@mbg.generated-->
    <!--@Table t_role-->
    <id column="id" property="id" />
    <result column="role_name" property="roleName" />
    <result column="description" property="description" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="status" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_name, description, create_time, update_time, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_role
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_role
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mshcc.cloud.jwtuaa.model.TRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_role (role_name, description, create_time, update_time, `status`)
    values (#{roleName}, #{description}, #{createTime}, #{updateTime}, #{status})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mshcc.cloud.jwtuaa.model.TRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleName != null">
        role_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleName != null">
        #{roleName},
      </if>
      <if test="description != null">
        #{description},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="status != null">
        #{status},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mshcc.cloud.jwtuaa.model.TRole">
    <!--@mbg.generated-->
    update t_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="status != null">
        `status` = #{status},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mshcc.cloud.jwtuaa.model.TRole">
    <!--@mbg.generated-->
    update t_role
    set role_name = #{roleName},
      description = #{description},
      create_time = #{createTime},
      update_time = #{updateTime},
      `status` = #{status}
    where id = #{id}
  </update>
</mapper>